@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Source Sans 3' , sans-serif;
    font-size: 13px;
    background-color: #f4f4f4;
}

a{
    text-decoration: none;
}


/* Start Navbar  */

.sidebars{
    min-height: 100vh;
    background-color: #000;
}

.nav-item.nav-categories{
    color: #fff;
    margin: 10px 0;
}

.sidebarlinks{
    color: #fff;
    opacity: .9;

    transition: all .3s;

    position: relative;
}

.sidebarlinks:hover{
    color: #fff;
    opacity: 1;
    background-color: #666;
}

.mores{
    position: absolute;
    right: 10px;
    top: 50%;

    transform: translateY(-50%);
}

.currents{
    background-color: #333;
    box-shadow: 1px 0 5px #222;
}

/* Start Top sidebar  */
.dropdowns{
    position: relative;
}

.dropdown-contents{
    min-width: 230px;
    background-color: #f6f6f6;

    position: absolute;
    left: 50%;
    transform: translateX(-59%);

    z-index: 10;

    display: none;
}

.dropdown-contents a{
    color: #000;
    padding: 10px;
    display: block;
}

.dropdown-contents a:hover{
    background-color: #ddd;
}


.dropdown-contents.show{
    display: block;
}

/* End Top sidebar  */


/* End Navbar  */


/* Start Shortcut Area  */
.border-left-primarys{
    border-left-width: 3px;
    border-left-color: steelblue;
}

.border-left-successes{
    border-left-width: 3px;
    border-left-color: violet;
}

.border-left-infos{
    border-left-width: 3px;
    border-left-color: skyblue;
}

.border-left-warnings{
    border-left-width: 3px;
    border-left-color: orange;
}
/* End Shortcut Area  */


/* Start Site Setting  */
.sitesettings{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: .7;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 10px;
    bottom: 50px;

    padding: 0;
    margin: 0;

    z-index: 100;
}

.sitesettings:hover{
    opacity: 1;
}

.ani-rotates{
    animation-name: myanirotates;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-iteration-count: linear;
}


@keyframes myanirotates{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}
/* End Site Setting  */

/* Start Right nav bar  */
.right-panels{
    width: 200px;
    height: 80vh;
    background-color: #999;

    position: absolute;
    right: 0;
    top: 70px;

    padding: 10px;

    z-index: 200;

    display: none;
}

.right-panels h6{
    background-color: steelblue;
    color: #fff;
    padding: 10px;
}

.right-panels .themecolors{
    column-count: 5;
}


body.show-nav > .right-panels{
    display: block;
}
/* End Right nav bar  */


